body{
    background-color: #eff5f5;
}
.all{
    padding-top: 1.5cm;
    
}
.All3{
    display: flex;
    border-radius: 0.5cm;
    background-color:  #eff5f5;
    
}
.rightside{
    
    padding: 20px;
    flex: 0 0 250px;
    
}
.leftside{
    
    padding: 20px;
    flex: 0 0 300px;
}
.middleside{
    
    background-color: #eff5f5;
    flex: 1;
}
.middlefirst{
    
    padding: 25px;
    padding-bottom: 15px;
    padding-top: 20px;
}
.middlesecond{
    padding: 25px;
    padding-bottom: 15px;
    padding-top: 10px;
}
.middlesecond1{
    padding: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.middlesecond2{
    padding: 25px;
    padding-bottom: 15px;
    padding-top: 10px;
}
.middlesecond3{
    padding: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.rightfirst{
   
    background-color: #eff5f5;
}
.ads{
    text-align: center;
}
.footers{
    padding: 20px;
    padding-left: 2px;
    padding-right: 2px;
}
.footer1{
    margin: auto;
    width: 50%;
    text-align: center;
    line-height: 0.1cm;
}
#footertxt{
    line-height: 0.5cm;
}
.box #reels{
    width: 100%;
    height: 100%;
}
.mids{
    
    border-radius: 10px;
    padding: 0.3cm;
    background-color: #f0f5f1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.fig{
        
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #2406bb;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    top:0;
    left:0;
    right:0;
    width:100%;
  }
  
  li {
    float: left;
    object-fit: cover;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 35px;
    text-decoration: none;
  }
  
  li a:hover:not(.navi) {
    background-color: #111;
    top: 0;
    bottom: 0;
    height: 100%;
    margin: 0%;
  }
  
.navi {
    background-color: #04AA6D;
    width: 100px;
    height: 20px;
    
  }
#avatar1{
    width: 35px;
    height: 20px;
  }
.child{
    object-fit: cover;
} 
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom:none;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }



#copy{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

#intro{
    text-align: center;
  }