#intro
{
    color: rgb(5, 5, 5);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

 #intro:hover{

    color:rgb(94, 9, 222);
 }


 #hr{
    color: aqua;
    font: large;
 }