#intro
{
    color: rgb(237, 229, 229);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

 #intro:hover{

    color:rgb(94, 9, 222);
    cursor: pointer;
 }


 #hr{
    color: aqua;
    size: 5px;
    font: large;
 }

 .back{
    background-color: rgb(31, 145, 174);


 }
.co{
    background-color: antiquewhite;
    text-align: left;
    border: 3em;
   
}
.p1{
    color:rgb(11, 10, 10);
    text-align: right;
    margin-right: 2em;
    font-size: larger;
    font-family:sans-serif;
}

 .wel {

    background-color: #030303f0;
    box-sizing: border-box;
    width: 1180px;
    height: 200px;
    border: 5px solid rgb(17, 2, 2);
    margin:20px;
    padding: 30px;

    
    
 }