#intro
{
    color: rgb(5, 5, 5);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

 #intro:hover{

    color:rgb(94, 9, 222);
    cursor: pointer;
 }


 #hr{
    color: aqua;
    size: 5px;
    font: large;
 }

 .par
 {
    color: bisque;
    background-color: darkblue;





 }


 .wel{

    background-color: #00ff1a;
    box-sizing: border-box;
    box-shadow: inset;
    size: 5px;
 }